body {
    margin: 0;
    overflow: hidden;
    background-color: #312c36;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #visualization {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .circle {
    position: absolute; /* This ensures the circle can be positioned using left and top */
    border-radius: 50%;
    border: 2px solid rgba(173, 216, 230, 0.7);
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.7);
    animation: pulse 2s infinite;
  }
  .circle.color1 {
    border-color: rgba(173, 216, 230, 0.7); /* Light blue */
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.7);
  }
  
  .circle.color2 {
    border-color: rgba(255, 182, 193, 0.7); /* Light pink */
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.7);
  }
  
  .circle.color3 {
    border-color: rgba(144, 238, 144, 0.7); /* Light green */
    box-shadow: 0 0 15px rgba(144, 238, 144, 0.7);
  }
  
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  